<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/stylleblog.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5dc06c7d36.js" crossorigin="anonymous"></script>
    <title>ANCILLA</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styleblog.css' %}">
</head>
<body>
    
    
<header class="header">
   <div class="container">
    <div class="header__inner">
      <div class="header__logo">ANCILLA</div>
        
        <nav class="nav">
             <a class="nav__link" href="homepage.html">HOME</a>
             <a class="nav__link" href="http://127.0.0.1:8000/">SHOP</a>
             <a class="nav__link active" href="blogpage.html">BLOG</a>
             <a class="nav__link" href="contactpage.html">CONTACT</a>
        </nav>
    </div>
    </div> 
</header>
<div class="intro">
    <div class="container">
        <div class="intro__inner">
            <h1 class="intro__title">MEET OUR TEAM</h1>
        </div>
    </div>
</div>
   
    
<section class="section">
    <div class="container">
        
        <div class="section__header">
            <h2 class="section__title">WHO WE ARE</h2>
        </div>
        
        
        <div class="about">
            <div class="about__item">
                <div class="about__img">
                    <img src="static/img/admin1.jpg" alt="">
                </div>
                <div class="about__text">Daria</div>
            </div>
            
            <div class="about__item">
                <div class="about__img">
                    <img src="static/img/admin2.jpg" alt="">
                </div>
                <div class="about__text">Valeriya</div>
            </div>
            
            <div class="about__item">
                <div class="about__img">
                    <img src="static/img/admin3.jpg" alt="">
                </div>
                <div class="about__text">Anastasia</div>
            </div>
        </div>
        
    </div>
</section>
  